---
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";

export interface PageResponse {
  _id: string;
  title: string;
  description: string;
  keywords: string[];
  author: string;
  ogImage: {
    asset: {
      url: string;
    };
  };
  name: string;
}

const query = `*[_type == "pages" && name == "kontakty"][0]{
  _id,
  title,
  description,
  keywords,
  author,
  name,
  ogImage {
    asset-> {
      url
    }
  }
}`;

const response = await sanityClient.fetch<PageResponse>(query);

if (!response) {
  throw new Error("Home page not found in Sanity");
}

const {
  title = "Default Title",
  description = "Default Description",
  keywords = [],
  author = "Default Author",
  name = "Default Name",
  ogImage,
} = response || {};
---

<Layout
  title={title}
  description={description}
  keywords={keywords.join(", ")}
  author={author}
  ogImage={ogImage?.asset?.url}
>
 <div class="container mt-[5rem] box">    
    <div class="mx-auto p-6 w-full bg-white shadow-lg rounded-lg">
        <div class="flex flex-col items-center text-center">
          <img src="https://res.cloudinary.com/dijj9tdzd/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1740132396/Anna_Polak_w8lyyv.jpg" alt="Anna Polak" class="w-32 h-32 rounded-full shadow-md mb-4">
          <h2 class="text-2xl font-bold text-gray-800">Doktor Anna Polak</h2>
          <p class="text-gray-600">Dyryktorka</p>
          <p class="text-gray-700 font-semibold mt-2">Stowarzyszenie na rzecz Rozwoju Badań Historycznych i Edukacji Monumentum</p>
        </div>
        <div class="mt-4 pt-4 text-center">
          <p class="text-gray-600">Skontaktuj się:</p>
          <a href="mailto:kontakt@monumentum.pl" class="text-blue-500 hover:underline block mt-1">kontakt@monumentum.pl</a>
          <a href="tel:+48123456789" class="text-blue-500 hover:underline block mt-1">+48 123 456 789</a>
        </div>
      </div>
   
 </div>
</Layout>
