---
export const prerender = false; // Not needed in 'server' mode

import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";
import { PortableText } from "astro-portabletext";
import type { PageResponse } from "../types";
import ImageShowcase from "../components/ImageShowcase.astro";



const query = `*[_type == "pages" && name == "o_nas"][0]{
  _id,
  title,
  description,
  keywords,
  author,
  name,
   content[]{
    ...,
    _type == "image" => {
      "url": asset->url
    }
  },
    images[]->{
    _id,
    src,
    title,
    description,
    top
  },
  ogImage {
    asset-> {
      url
    }
  }
}`;

const response = await sanityClient.fetch<PageResponse>(query);

if (!response) {
    throw new Error("Home page not found in Sanity");
}

const {
    title = "Default Title",
    description = "Default Description",
    keywords = [],
    author = "Default Author",
    name = "Default Name",
    ogImage,
    images = [],
    content,

} = response || {};
---

<Layout
    title={title}
    description={description}
    keywords={keywords.join(", ")}
    author={author}
    ogImage={ogImage?.asset?.url}
>
    <div class="container mmy-[2rem] lg:my-[5rem] box">
        <div class="mx-auto p-6 w-full bg-white shadow-lg rounded-lg">
            {content?<PortableText value={content ?? []} />:"Strona jest w trakcie tworzenia"}
            {images.length > 0 && <ImageShowcase images={images ?? []} />}
        </div>         
    </div>
</Layout>
