---
import { sanityClient } from "sanity:client";


interface CardsResponse {
    title: string;
    slug: {
        current: string;
    };   
    mainImage?: {
        url: string;
    }; 
    excerpt:string ;
}
const postQuery = `*[_type == "blogPost"]{
  title,
  slug,
  
  mainImage{
    "url": asset->url
  },
  gallery[]{
    "url": asset->url
  },

  excerpt,
 
} | order(publishedAt desc)
`;
const post = Astro.params.post;
const response = await sanityClient.fetch<CardsResponse[]>(postQuery);

if (!response) {
    throw new Error("PostsResponse");
}


import BlogCard from "./BlogCard.astro";
import H2Title from "./H2Title.astro";

---

<div class="container mt-[4rem]">
  <H2Title text="działania na ułamkach" />
  <div class="flex flex-wrap gap-x-4 gap-y-8 justify-around ">
    {
      response.map((card) => (
        <BlogCard
          imageUrl={card.mainImage? card.mainImage.url : "https://res.cloudinary.com/dijj9tdzd/image/upload/v1740397932/logo_h5x5yk.png"}
          title={card.title}
          description={card.excerpt}
          buttonLink={card.slug.current}
        />
      ))
    }
  </div>
</div>
