---
import { Image } from "astro:assets";
import H2Title from "./H2Title.astro";
---

<div class="bg-white">
<div class="container">
    <div class="flex justify-center">
        <div class="w-full flex align-center justify-around gap-y-10 py-2 max-h-[80px]">
            <img
                class=""
                src="https://res.cloudinary.com/dijj9tdzd/image/upload/v1740224893/ministerstwo_kultury_mpfpg1.png"
                alt="Ministerstwo Kultury"
                width="156"
                height="28"
            />
            <img
                class="flex-initial"
                src="https://res.cloudinary.com/dijj9tdzd/image/upload/v1740224894/lubuskie_qkcvw1.png"
                alt="Lubuskie"
                width="156"
                height="28"
            />
            <img
                class=""
                src="https://res.cloudinary.com/dijj9tdzd/image/upload/v1740224895/unia_co4gbu.png"
                alt="Unia Europejska"
                width="156"
                height="28"
            />
        </div>
    </div>
</div>
</div>