

<div class="bg-white box-bottom">
<div class="container">
    <div class="flex  justify-center">
        <div class="w-full flex flex-wrap align-center justify-around gap-y-10 py-2 ">
            <img
                class=""
                src="https://res.cloudinary.com/dijj9tdzd/image/upload/v1740225284/ministerstwo_kultury_m4w0ls.jpg"
                alt="Ministerstwo Kultury"
                width="213"
                height="60"
            />
            <img
                class=""
                src="https://res.cloudinary.com/dijj9tdzd/image/upload/v1740225259/lubuskie_kvankd.jpg"
                alt="Lubuskie"
                width="212"
                height="60"
            />
            <img
                class=""
                src="https://res.cloudinary.com/dijj9tdzd/image/upload/v1740225296/unia_vwvxaz.jpg"
                alt="Unia Europejska"
                width="90"
                height="60"
            />
        </div>
    </div>
</div>
</div>