---
import { Image } from "astro:assets";
import H2Title from "./H2Title.astro";
---

<div class="container my-[4rem]">   
    <H2Title text = "wspieraj pracę rąk naszych"/> 
    <div class="flex justify-center">
        <img  src="https://res.cloudinary.com/dijj9tdzd/image/upload/v1740172972/konto_bithpm.jpg" alt="konto" width="1070" height="600"/>  
    </div>          
</div>