---
import { sanityClient } from "sanity:client";
// 1. Импортируем CSS Swiper
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

interface ImageData {
  src: string;
  title: string;
  description: string;
  top: boolean;
}

interface GalleryData {
  title: string;
  images: ImageData[];
}

const query = `*[_type == "grid"][0]{
  title, 
  images[]{
    src,
    title,
    description,
     top
  }
}`;

const gallerie: GalleryData = await sanityClient.fetch(query);
const { images } = gallerie;
const sortedImages = images.sort((a, b) => Number(b.top) - Number(a.top));
---

<!-- 2. HTML-структура -->
<div class="swiper">
  <div class="swiper-wrapper">
    <!-- Слайды -->
     {sortedImages.map((image) => (<div class="swiper-slide"><img  class="w-[271px] h-[175px] rounded-md object-cover object-center " src={image.src} alt={image.title}/></div>))}
       
    
  </div>

  <!-- Элементы управления -->
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<!-- 3. Инициализация Swiper на клиенте -->
<script  >
  import Swiper from 'swiper';
  import { Navigation, Pagination } from 'swiper/modules';

  new Swiper('.swiper', {
    modules: [Navigation, Pagination],
    direction: 'horizontal',
    loop: true,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

<!-- 4. Стили (опционально) -->
<style>
  .swiper {
    width: 100%;
    height: 400px;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
</style>